
*{margin: 0;
  padding: 0;
  list-style: none;
}
#head{
    width: 1000px;
    height: 90px;
    background-color: white;
    margin: 0 auto;
}
#head .head-top-left{
    width: 500px;
    height: 90px;
    background-color: white;
    float: left;
}
#head .head-top-left img{
    width: 183px;
    height: 50px;
    margin-top: 40px;
    }
#head .head-top-right{
    width: 500px;
    height: 90px;
    background-color: white;
    float: left;
}
#head .head-top-right h4{
    width: 470px;
    height: 50px;
    margin-left: 120px;
}
#head .head-top-right span{
    color: red;
}
#head .head-bottom{
    width: 1000px;
    height: 110px;
    margin: auto;
    float: left;
    background-color: rgb(252, 252, 252);
}
#head .head-bottom img{
    width: 1000px;
    height: 110px;
}


#body{
    width: 1000px;
    height: 350px;      
    float: left;
    margin: 0 332px 0 268px;      /* 老子一点点调试出来的 */
    background-color: white;
}
#body .left{
    width: 500px;
    height: 350px;
    float: left;
    background-color: #FFFAF7;
}
#body .right{
    width: 500px;
    height: 350px;
    float: left;
    background-color: #FFFAF7;
}
#body .left .Hydl h2{
    width: 400px;
    height: 35px;
    color:gold;
    margin: 20px 30px 0 60px;
}
#body .left .Bd{
    width: 440px;
    height: 240px;
    margin-left: 60px;
    padding-top: 40px;
    background-color: white;
}
#body .left .Bd ul{
    width: 300px;
    height: 200px;
    padding-left: 30px;
    background-color: white;

}
#body .left .Bd li{
    width: 270px;
    height: 50px;
    background-color: white;
}
#body .left .Bd span{     
    color: white;
}
#body .right .top{
    width: 480px;
    height: 190px;
    padding-left: 20px;
}
#body .right .top .shang{
    width: 480px;
    height: 160px;
}
#body .right .top .shang h3{
    width: 460px;
    height: 30px;
    padding-top: 130px;
}
#body .right .top .shang span{
    color:red;
}
#body .right .top .xia{
    width: 460px;
    height: 28px;
    border-bottom:2px solid gray;
}
#body .right .top .xia span{
    color:red;
}
#body .right .bottom{
    width: 480px;
    height: 120px;
    padding: 40px 0 0 20px;
}
#body .right .bottom .text{
    width: 460px;
    height: 30px;
}
#body .right .bottom .pic{
    width: 460px;
    height: 30px;
}

#foot{
    width: 1000px;
    height: 300px;      
    float: left;
    margin: 0 332px 0 268px;      /* 老子一点点调试出来的 */
    background-color: black;
}
#foot .top{
    width: 1000px;
    height: 200px;
    float: left;
    background-color: blue;
}
#foot .top .left{
    width: 80px;
    height: 180px;
    border-right:1px solid gray;
    padding-top: 20px;
    background-color: #2B262E;
    float: left;
}
#foot .top .left img{
    width: 80px;
    height: 70px;
}


/* 出现能问题 */
#foot .top .centre{               
    width: 400px;
    height: 200px;
    background-color: white;
    float: left;
}
/* #foot .top .centre .one{
    width: 400px;
    height: 100px;
    background-color: teal;
} */
#foot .top .centre .one{
    width: 400px;
    height: 100px;
    background-color: #2B262E;
}
#foot .top .centre .one li{
    color: gray;
    text-decoration: underline;
    margin: 20px 13px 0 20px;
    float: left;
}
#foot .top .centre .two{
    width: 382px;
    height: 50px;
    padding-left: 18px;
    background-color: #2B262E;
}
#foot .top .centre .two h4{
    width: 380px;
    height: 30px;
    color: gray;
    padding-top: 27px;
}

#foot .top .centre .three{
    width: 382px;
    height: 50px;
    color: gray;
    padding-left: 18px;
    background-color: #2B262E;
}
#foot .top .right{
    color: gray;
    width: 518px;
    height: 200px;
    border-left:1px solid gray;
    background-color: #2B262E;
     float: left; 
}
#foot .top .right .SH{
    width: 500px;
    height: 30px;
    padding-left: 18px;
    margin-top: 20px;
    /* background-color: brown; */
}
#foot .top .right .ZH{
    width: 500px;
    height: 100px;
    padding-left: 18px;
    /* background-color: chartreuse; */
}
#foot .top .right .ZH-left h5{
    width: 67px;
    height: 100px;
    float: left;
    /* background-color: coral; */
}
#foot .top .right .ZH-right{
    width: 433px;
    height: 100px;
    float: left;
    /* background-color: crimson; */
}
#foot .top .right .ZH-right li{
    text-align: center;
    width: 86px;
    height: 25px;
    float: left;
    /* background-color: cyan; */
}
#foot .top .right .XI{
    width: 518px;
    height: 30px;
    padding-top: 20px;
    text-align: center;
    /* background-color: tomato; */
}
#foot .bottom{
    width: 1000px;
    height: 100px;
    float: left;
    background-color: white;
}
#foot .bottom .bottom1{
    text-align: center;
    width: 1000px;
    height: 18px;
    float: left;
    /* background-color: yellow; */
}
#foot .bottom .bottom2{
    width: 440px;
    height: 70px;
    float: left;
    /* background-color: red; */
}
#foot .bottom .bottom2 .bottom2-left{
    width: 120px;
    height: 70px;
    float: right;
    /* background-color: green; */
}
#foot .bottom .bottom2 .bottom2-left .content1{
    width: 75px;
    height: 45px;
    float: right;
    /* background-color: indigo; */
}
#foot .bottom .bottom2 .bottom2-left .pic2{
    width: 45px;
    height: 45px;
    float: left;
    /* background-color: hotpink; */
}
#foot .bottom .bottom3{
    width: 120px;
    height: 70px;
    float: left;
    /* background-color: gray; */
}
#foot .bottom .bottom3 .content2{
    width: 75px;
    height: 45px;
    float: left;
}
#foot .bottom .bottom3 .pic3{
    width: 45px;
    height: 45px;
    float: left;
    /* background-color: indianred; */
}
#foot .bottom .bottom4{
    width: 440px;
    height: 70px;
    float: left;
    /* background-color: gold; */
}
#foot .bottom .bottom4 .bottom4-right{
    width: 120px;
    height: 70px;
    float: left;
    /* background-color: green; */
}
